html,body,h1,ul,li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
button {
  margin: 0;
  padding: 0;
  border: none;
}
.box {
  position: relative;
  padding: 30px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.wrap .header {
  display: flex;
}
.header button {
  background-color: red;
  color: #fff;
  padding: 10px 15px;
}
.wrap .change {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  border: 3px solid black;
  background-color: transparent;
}
.setting {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 20px solid #ccc;
  background-color: #fff;
  padding: 15px;
  display: none;
}
.set-bgcolor, .set-width, .set-height{
  display: flex;
  align-items: center;
}
#bgcolor {
  border: 1px solid #000;
}
.set-bgcolor ul, 
.set-width ul, 
.set-height ul{
  margin-left: 10px;
}
.set-bgcolor li, .set-width li, .set-height li{
  display: inline-block; 
  width: 50px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
}
.set-bgcolor li {
  color: #fff;
}
.set-bgcolor li:first-child{
  background-color: red;
}
.set-bgcolor li:nth-child(2){
  background-color: rgb(168, 168, 61);
}
.set-bgcolor li:last-child{
  background-color: blue;
}
.set-width li, .set-height li {
  color: #666;
  border: 1px solid black;
  background-color: #fff;
}
.set-footer {
  text-align: center;
  width: 100%;
}
.set-footer button {
  padding: 8px 15px;
  background-color: blue;
  color: #fff;
}